<div class="auth-container position-relative m-auto my-5 p-4 bg-white shadow-sm rounded-3 border border-light-subtle" style="max-width: 400px;">

  <div class="mb-3 border-bottom border-light-subtle pb-2 text-center">
    <h2 class="mb-0 h4">Registrarme</h2>
  </div>
  <form method="post" [formGroup]="registerForm" (ngSubmit)="submit()">
    <div class="mb-3">
      <label class="form-label">Usuario</label>
      <input class="form-control form-control-sm" type="text" placeholder="Jorge" formControlName="username">
    </div>

    <div class="mb-3">
      <label class="form-label">Contraseña</label>
      <input class="form-control form-control-sm" type="password" placeholder="*****" formControlName="password">
    </div>

    <div class="row">
      <div class="col-6 mb-3">
        <label class="form-label">Nombre</label>
        <input class="form-control form-control-sm" type="text" formControlName="firstName">
      </div>

      <div class="col-6 mb-3">
        <label class="form-label">Apellidos</label>
        <input class="form-control form-control-sm" type="text" formControlName="lastName">
      </div>
    </div>

    <div class="mb-4">
      <label class="form-label">Dirección</label>
      <input class="form-control form-control-sm" type="text" formControlName="address">
    </div>

    <div class="mb-0 text-center">
      <button type="submit" class="btn btn-sm btn-primary w-100" [disabled]="registerForm.invalid">Finalizar registro</button>
    </div>
  </form>

</div>
