<div class="container mt-5">
  <section class="mb-4">
    <h1 class="display-4">¡Desata tu Poder Empresarial!</h1>
    <p class="lead">Elige una lección y prepárate para conquistar el mundo de los negocios (¡y el inglés!).</p>
    <hr class="my-4">
  </section>

  <section class="row">
    <div class="col-md-6 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">¡Tormenta de Ideas Épica!</h5>
          <p class="card-text">¿Cansado de las ideas aburridas? ¡Prepárate para una avalancha de creatividad! En esta lección, aprenderás a desatar tu potencial de brainstorming y a generar ideas tan brillantes que necesitarás gafas de sol. ¡A unir esas neuronas!</p>
          <a routerLink="/lecciones/brainstorming" class="btn btn-primary">¡A Darle al Coco!</a>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Monopolios: El Juego del Poder (¡Pero sin Trampas!)</h5>
          <p class="card-text">¿Alguna vez has querido dominar el mercado? En esta lección, exploraremos el fascinante (y a veces controvertido) mundo de los monopolios. Descubre cómo funcionan y por qué a veces no son tan geniales para el consumidor. ¡Sin billetes falsos, lo prometemos!</p>
          <a routerLink="/lecciones/phrasal-verb-factory" class="btn btn-primary">¡Conquista el Mercado!</a>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Malabarismo de la Vida: ¡Trabajo y Relax sin Caerse!</h5>
          <p class="card-text">¿Sientes que tu vida es un circo de trabajo y responsabilidades? ¡No te preocupes! En esta lección, te daremos los trucos y consejos para lograr el equilibrio perfecto entre tu vida laboral y personal. ¡A hacer malabares con estilo!</p>
          <a routerLink="/lecciones/equilibrio" class="btn btn-primary">¡Encuentra tu Equilibrio!</a>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">"Deal With It", "Shut Down", "Come Together": ¡El Poder de los Phrasal Verbs!</h5>
          <p class="card-text">¿Te suenan estas expresiones? ¡Son la clave para sonar como un verdadero crack del inglés empresarial! En esta lección, desglosaremos estos y otros phrasal verbs esenciales para que te comuniques con fluidez y confianza. ¡A darle caña al inglés!</p>
          <a routerLink="/lecciones/phrasal-verb-factory" class="btn btn-primary">¡Domina los Phrasal Verbs!</a>
        </div>
      </div>
    </div>
  </section>
</div>