<div class="container mt-5">
  <select #languageSelect class="form-select mb-3" (change)="changeLanguage(languageSelect.value)">
    <option value="en">English</option>
    <option value="it">Italiano</option>
    <option value="de">Deutsch</option>
  </select>

  <section class="text-center bg-primary text-white p-5 rounded shadow-lg">
    <h1 class="display-4">{{ 'BRAINSTORMING_GAME_TITLE' | translate }}</h1>
    <p class="lead">{{ 'BRAINSTORMING_GAME_INSTRUCTIONS' | translate }}</p>
    <hr class="my-4 border-light">
  </section>

  <div class="row mt-4">
    <div class="col-md-6">
      <h3 class="text-success">{{ 'BRAINSTORMING_PRINCIPLES' | translate }}</h3>
      <ul class="list-group shadow-lg">
        <li class="list-group-item"
            *ngFor="let match of brainstormingMatches"
            (click)="selectTerm(match.term)"
            [class.selected]="selectedTerm === match.term"
            [class.matched]="isAlreadyMatched(match.term, null)"
            [class.incorrect-selection-feedback]="isTermIncorrectlySelected(match.term)"
            style="cursor: pointer;"> {{ match.term }}
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3 class="text-danger">{{ 'BRAINSTORMING_DEFINITIONS' | translate }}</h3>
      <ul class="list-group shadow-lg">
        <li class="list-group-item"
            *ngFor="let definition of shuffledDefinitions"
            (click)="selectDefinition(definition)"
            [class.selected]="selectedDefinition === definition"
            [class.matched]="isAlreadyMatched(null, definition)"
            [class.incorrect-selection-feedback]="isDefinitionIncorrectlySelected(definition)"
            style="cursor: pointer;"> {{ definition }}
        </li>
      </ul>
    </div>
  </div>

  <div class="mt-4 text-center">
    <p [ngClass]="{
        'correct': feedbackMessage.startsWith('¡Correcto!') || feedbackMessage.startsWith('Correct!'),
        'incorrect': feedbackMessage.startsWith('¡Incorrecto!') || feedbackMessage.startsWith('Incorrect!'),
        'show-feedback': feedbackMessage
       }"
       class="feedback-message fw-bold fs-5">{{ feedbackMessage }}</p>
  </div>

  <div class="congratulations-popup text-center"
      [class.show-popup]="showCongratulations"> <div class="popup-content-wrapper"> <h2>{{ 'CONGRATULATIONS' | translate }}</h2>
      <p>{{ 'CLOSING_IN' | translate }} {{ countdown }}...</p>
      <button (click)="goToLecciones()" class="btn btn-light fw-bold">{{ 'RETURN_TO_LESSONS' | translate }}</button>
    </div>
  </div>
</div>