<div class="container mt-5">
    <section class="mb-4">
      <h1 class="display-4">¡Desafío Monopolista!</h1>
      <p class="lead">Pon a prueba tus habilidades para manejar un monopolio.</p>
      <hr class="my-4">
    </section>
  
    <div *ngIf="!juegoTerminado">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">{{ preguntaActual.pregunta }}</h5>
          <p class="card-text">{{ preguntaActual.descripcion }}</p>
          <div *ngFor="let opcion of preguntaActual.opciones">
            <button class="btn btn-primary mr-2 mb-2" (click)="seleccionarOpcion(opcion.resultado)">{{ opcion.texto }}</button>
          </div>
          <div *ngIf="mostrarResultado" class="mt-3">
            <p>{{ resultadoFinal }}</p>
            <button class="btn btn-secondary" (click)="avanzarPregunta()">Siguiente pregunta</button>
          </div>
        </div>
      </div>
    </div>
  
    <div *ngIf="juegoTerminado">
      <h2>¡Juego Terminado!</h2>
      <p>{{ resultadoFinal }}</p>
      <button class="btn btn-primary" (click)="reiniciarJuego()">Volver a jugar</button>
    </div>
  </div>