.btn:hover {
  transform: scale(1.05);
  transition: 0.3s ease-in-out;
}

.list-group-item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.feedback-message {
  padding: 10px;
}
.correct {
  color: green;
}
.incorrect {
  color: red;
}

@media (max-width: 768px) {
  .container {
    padding: 10px;
  }
  .congratulations-popup div {
    width: 90%;
    margin: auto;
  }
}

@media (max-width: 576px) {
  .display-4 {
    font-size: 1.8rem;
  }
  .lead {
    font-size: 1rem;
  }
  .btn {
    font-size: 0.9rem;
  }
  .list-group-item {
    font-size: 0.9rem;
  }
}