<div class="container mt-5">
    <section class="mb-4">
      <h1 class="display-4">Malabarismo de la Vida: ¡Trabajo y Relax sin Caerse!</h1>
      <p class="lead">¿Sientes que tu vida es un circo de trabajo y responsabilidades? ¡No te preocupes! En esta lección, te daremos los trucos y consejos para lograr el equilibrio perfecto entre tu vida laboral y personal. ¡A hacer malabares con estilo!</p>
      <hr class="my-4">
    </section>
  
    <div *ngIf="!juegoTerminado">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">{{ escenarioActual.pregunta }}</h5>
          <p class="card-text">{{ escenarioActual.descripcion }}</p>
          <div *ngFor="let opcion of escenarioActual.opciones">
            <button class="btn btn-primary mr-2 mb-2" (click)="seleccionarOpcion(opcion)">{{ opcion.texto }}</button>
          </div>
          <div *ngIf="resultadoFinal" class="mt-3">
            <p>{{ resultadoFinal }}</p>
            <p>{{ consecuenciaSeleccionada }}</p>
            <button class="btn btn-secondary" (click)="avanzarEscenario()">Siguiente escenario</button>
          </div>
        </div>
      </div>
    </div>
  
    <div *ngIf="juegoTerminado">
      <h2>¡Juego Terminado!</h2>
      <p>{{ resultadoFinal }}</p>
      <button class="btn btn-primary" (click)="reiniciarJuego()">Volver a jugar</button>
    </div>
  </div>