<h2>¡Desafío de Crucigrama Estilizado!</h2>

<div>
  <label for="idioma">Idioma:</label>
  <select id="idioma" [(ngModel)]="idiomaSeleccionado" (change)="cambiarIdioma(idiomaSeleccionado)">
    <option value="en">Inglés</option>
    <option value="de">Alemán</option>
    <option value="it">Italiano</option>
  </select>
</div>

<div class="crucigrama-grid-estilizado">
  <div *ngFor="let row of cuadricula; let i = index" class="crucigrama-row">
    <div *ngFor="let cell of row; let j = index" class="celda-container">
      <span class="numero-pista" *ngIf="mostrarNumeroPista(i, j)">{{ mostrarNumeroPista(i, j) }}</span>
      <input
        *ngIf="cell !== null"
        type="text"
        maxlength="1"
        [value]="obtenerValorCeldaEstilizada(i, j)"
        (input)="actualizarInputCeldaEstilizada(i, j, $event)"
        [readonly]="!esCeldaActiva(i, j)"
        [ngClass]="{'celda-activa': esCeldaActiva(i, j), 'celda-llena': obtenerValorCeldaEstilizada(i, j) !== ''}"
        [attr.data-fila]="i"
        [attr.data-columna]="j"
      >
      <div class="celda-vacia" *ngIf="cell === null"></div>
    </div>
  </div>
</div>

<div class="pistas">
  <h3>Pistas:</h3>
  <ol>
    <li *ngFor="let palabra of palabras; let k = index">
      {{ k + 1 }}. {{ obtenerPista(palabra) }}
      <div class="ayuda">
        <div class="ayuda">
        <ng-container *ngIf="palabra.orientacion === 'horizontal'">
          ({{palabra.palabraActual?.length}} letras, fila {{palabra.fila + 1}}, columna {{palabra.columna + 1}} <i class="fas fa-arrow-right"></i>)
        </ng-container>
        <ng-container *ngIf="palabra.orientacion === 'vertical'">
          ({{palabra.palabraActual?.length}} letras, fila {{palabra.fila + 1}}, columna {{palabra.columna + 1}} <i class="fas fa-arrow-down"></i>)
        </ng-container>
      </div>
      </div>
    </li>
  </ol>
</div>

<button (click)="comprobarRespuestas()">Comprobar</button>
<button (click)="reiniciarCrucigrama()">Reiniciar</button>

<p *ngIf="mensaje" [ngClass]="{'correcto': mensaje.includes('Felicidades'), 'incorrecto': mensaje.includes('Sigue intentándolo')}">{{ mensaje }}</p>